{%include 'main.html'%}
{% load static %}
{%block content%}
<style>
    .event-container{
        display:grid;
        grid-template-columns: 3fr 1fr;

    }
</style>
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="card card-custom gutter-b card-stretch">
                <hr>
                <div class="card-body d-flex flex-column px-0 no-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6">
                                <div class="product-list-img">
                                     <img src="{% static event.event_pict.url %}" width="100%" alt="The 4th Annual Scientific Meeting of Indonesia Society of Intensivists Anesthesiologist (INASIA 2022)">
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-6">
                                <div class="pt-20">
                                    <h2>{{event.name}}</h2>
                                    <h4 class="mt-5"><strong>INFO DETAIL:</strong></h4>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3"><i class="la la-check-circle"></i> Tanggal <span class="pull-right">:</span></div>
                                        <div class="col-lg-9 col-md-9">{{event.start|date:"d M"}} - {{event.end|date:"d M Y"}}</div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3"><i class="la la-check-circle"></i> Tempat <span class="pull-right">:</span></div>
                                        <div class="col-lg-9 col-md-9">{{event.tempat}}</div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3"><i class="la la-check-circle"></i> Hosted By <span class="pull-right">:</span></div>
                                        <div class="col-lg-9 col-md-9">{{event.hosted_by}}</div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3"><i class="la la-check-circle"></i> Organized By <span class="pull-right">:</span></div>
                                        <div class="col-lg-9 col-md-9">{{event.organized_by}}</div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3"><i class="la la-check-circle"></i> Event Website <span class="pull-right">:</span></div>
                                        <div class="col-lg-9 col-md-9"> <a target="blank" href="{{event.event_website}}">{{event.event_website}}</a> </div>
                                    </div>
                                    <br>
                                    <h4 class="mt-5"><strong>DESKRIPSI ACARA:</strong></h4>
                                    <p style="font-size:13px;font-weight:500">
                                    {{event.description}}
                                    </p>
                                </div>
                                <a target="blank" href="{{event.event_website}}" class="btn btn-outline-primary mt-5">WEBSITE ACARA</a> &nbsp; &nbsp; 
                                <a href="{% static event.announcement.url %}" class="btn btn-outline-warning mt-5" download>DOWNLOAD ANNOUNCEMENT</a> &nbsp; &nbsp;
                                <a href="{% url 'participant-recapitulation' event.id%}" class="btn btn-danger mt-5" type="submit">DAFTAR</a> &nbsp;  
                            </div>
                        </div>
                   
                    </div>
                </div>
                <hr>
                <!--end::Body-->
            </div>
        </div>
    </div>
{%endblock content%}