{%include 'main.html'%}
{%block content%}
<a href="{% url 'add-participant' event.id%}" class="btn btn-danger mt-5" type="submit">Tambah Peserta</a> &nbsp;
<br>
<div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama Acara</th>
                    <th scope="col">Tanggal Daftar</th>
                    <th scope="col">Nama Peserta</th>
                    <th scope="col">Tipe Peserta</th>
                    <th scope="col">Didaftarkan di</th>
                    <th scope="col">Status Pembayaran</th>
                    <th scope="col">Keterangan</th>
                </tr>
            </thead>
            <tbody>
                {%for p in participants%}
                <tr role="row">
                    <td>{{forloop.counter}}</td>
                    <td>{{p.event.name}}</td>
                    <td>{{p.created}}</td>
                    <td>{{p.user.name}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endblock content%}