<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>LAM-KPRS | Admin</title>
</head>
<style>
    .home-container{
        display:grid;
        grid-template-columns: 1fr 3fr;
    }
    a{
        display:inline;
    }
</style>
<body>
    <div class="home-container">
        <div>
            <ul>
                <li>
                    <a href="{%url 'dashboard' %}">Dashboard</a>
                </li>
                <li>
                    <a href="{%url 'event' %}">Event</a>
                </li>
                <li>
                    <a href="">Member</a>
                </li>
                <li>
                    <a href="">Users</a>
                </li>
            </ul>            
        </div>        
        <div class="container">
            {%block content%}
            {%endblock content%}
        </div>

    </div>
</body>
</html>